<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Math Whiteboard UNAD</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  <div id="connections"></div>
  <div id="cursors">
    <!-- Aqui pondremos los cursores de nuestros amigos -->
  </div>

  <canvas id="paper" width="1000" height="600">
    Tu navegador debe soportar canvas
  </canvas>
   <div id="derecha"> 
		<div id="menuin">
			<h4>Tendencias Disruptivas en TI</h4>
		</div>
		
		<div id="wrapper">
 
    <ul class="menu">
        <li class="item1"><a href="#">Tendencias Disruptivas </a>
            
        </li>
		<p></p>
        <li class="item2"><a href="#">Espacio de dibujo</a>
            
        </li>
        <li class="item3"><a href="#">Comentarios</a>
            
        </li>
        
    </ul>
 
	</div>
		
		
   </div>
  <hgroup id="instructions">
    <h1>¡Inicia la interacción en el espacio de trabajo!</h1>
    <h2>Dibuja en la zona delimitada</h2>
    <h3>Si quieres un espacio nuevo simplemente refresca la pantalla [F5]</h3>
  </hgroup>

  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="javascripts/script.js"></script>
<h2>Astrid Segura - Wilmer Gutiérrez .................................................... HTML5 &  Node.js</h2>
</body>
</html>